#input,
#output,
#history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#input.panel {
  background: none;
  box-shadow: inset 0 .1rem 2rem #00000025, 0 1px 0 #e6edf610;
}

#output {
  flex: 1;
}

#output .img {
  width: calc(100% - 1rem);
  margin: 1rem;
  border-radius: 100vw;
  box-shadow: 0 0 5rem #010105;
  background: transparent;
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;
}

#output .img > img {
  border-radius: inherit;
  object-fit: cover;
}

#output .img.full {
  width: calc(100% - 1rem);
  height: auto;
  margin: 1rem .5rem;
  border-radius: 1rem;
  box-shadow: 0 0 5rem #010105;
  background: transparent;
}

#output .img.full > img {
  border-radius: inherit;
}

#output header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px #e6edf610;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#output header .img {
  margin: 0 auto;
}

#output .author {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

#history {
  width: 100%;
}

#history p {
  max-width: 60%;
  margin: 1rem .5rem;
  padding: 1rem;
  background: #e6edf6;
  border-radius: 1rem;
  color: dodgerblue;
}

#history p.typing {
  font-weight: bold;
  background: #e6edf625;
}

#history .past {
  opacity: .5;
}

#history .past p {
  background: dodgerblue;
  color: #e6edf6;
}

#history .me {
  width: 50%;
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

#history .me p {
  align-self: flex-end;
  background: #e6edf625;
  color: #e6edf6;
}

#history > div {
  display: flex;
}

#history div.image {
  flex-direction: column;
}

#history .me div.img {
  background: linear-gradient(to top right, dodgerblue, violet);
  border: .1rem solid #010105;
}

#text-input,
#send {
  display: block;
  min-height: 3rem;
  margin-bottom: .5rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
  appearance: none;
  outline: none;
  background: #010105;
}

#text-input {
  background: #12121210;
  padding: 0 .5rem;
}

#input .button-group {
  display: flex;
  align-items: center;
  width: 100%;
}

#input > div {
  display: flex;
  align-items: flex-end;
}

#input > div,
#input > div > .controls {
  width: 100%;
}

#send {
  background: dodgerblue;
}

#send:hover {
  background-color: #e6edf6;
  color: dodgerblue;
}

#conversation,
#focus,
#inspire {
  background: #00000030;
  border-radius: 1rem;
  padding: .5rem;
  margin-left: 1rem;
}

#focus,
#inspire {
  margin-left: 0;
  margin-right: 1rem;
}

#conversation > div,
#focus > div,
#inspire > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

#conversation h6,
#focus h6,
#inspire h6 {
  margin: 0 0 .5rem;
  font-size: .6em;
  text-transform: uppercase;
  color: #e6edf650;
}

.button-group #conversation button,
.button-group #focus button,
#inspire button {
  background: linear-gradient(to bottom, #262739, #010105);
  box-shadow: inset 0 .5rem .5rem #010105, 0 1px 0 #e6edf640;
  text-transform: uppercase;
  font-size: .6em;
  transition: all .2s ease;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

#inspire button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  height: 16vw;
  max-width: 20rem;
  max-height: 20rem;
}

.button-group #conversation button:hover,
.button-group #focus button:hover,
#inspire button:hover {
  background: #06dee6;
  border-color: transparent;
  box-shadow: inset 0 .5rem 1rem dodgerblue, 0 1px 0 #000000, 0 0 2rem dodgerblue;
  text-shadow: 0 0 .5rem dodgerblue;
}

.button-group #conversation button:hover img,
.button-group #focus button:hover img,
#inspire button:hover img {
  color: dodgerblue;
}

#inspire + div {
  width: 100%;
}

@media (max-width: 900px) {
  #history > div {
    flex-direction: column;
  }

  #history .me {
    width: 75%;
    flex-direction: row-reverse;
  }

  #history p {
    max-width: 75%;
  }

  #conversation,
  #focus,
  #inspire {
    margin: 1rem 0 0;
    width: 100%;
  }

  #inspire {
    margin: 1rem 1rem 1rem 0;
  }

  .controls {
    margin: 1rem 0 1rem;
  }

  .button-group {
    flex-direction: column;
  }
}