.panel {
  background: #12121210;
  border-radius: 1rem;
  padding: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem auto;
  height: calc(100vh - 3rem);
  overflow-x: hidden;
}

#app {
  justify-content: space-between;
  width: 30rem;
  max-width: 30vw;
  height: 40rem;
  max-height: 60vh;
  position: absolute;
  right: 1rem;
  bottom: 6rem;
  z-index: 1000;
}

#overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9000;
  background: #00000075;
  opacity: 0;
  transition: opacity .5s ease;
}

#overlay.show {
  opacity: 1;
}

#overlay > .form {
  max-width: 34rem;
  transition: opacity .5s ease, margin-top .5s ease;
  margin-top: 10vh;
  opacity: 0;
}

#overlay.show > .form {
  margin-top: 0;
  opacity: 1;
}

#create-ragdoll-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 100vw;
  width: 4rem;
  height: 4rem;
  background: black;
  color: white;
  z-index: 1000;
}

#history .me {
  width: 100%;
}

#history .me p {
  background: dodgerblue;
}

#history .past {
  opacity: 1;
}

#history .me div.img {
  border: none;
}

#conversation {
  display: none;
}