.topic,
.comment {
  padding: 1rem;
  background: #00000050;
}

.topic a,
.comment a {
  color: white;
}

.topic:nth-of-type(odd) {
  background: #00000085
}

.topic:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.topic:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.author {
  display: flex;
  font-size: .8em;
}

.author h6 {
  margin: 0;
  font-weight: normal;
}

#forum {
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

#forum .breadcrumbs {
  position: static;
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
  background: black;
  border-radius: 1rem;
  color: white;
  margin: 0;
}

#forum .breadcrumbs em {
  opacity: .6;
}

#forum .breadcrumbs a {
  color: white;
}

#forum > ul,
#forum > article {
  margin: 1rem 0;
}
