#input,
#output,
#history {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#output {
  flex: 1;
}

#output .img {
  width: calc(100% - 1rem);
  margin: 1rem;
  border-radius: 100vw;
  box-shadow: 0 0 5rem black;
  background: black;
  min-width: 3rem;
  min-height: 3rem;
  width: 3rem;
  height: 3rem;
}

#output .img > img {
  border-radius: inherit;
  object-fit: cover;
}

#output .img.full {
  width: calc(100% - 1rem);
  height: auto;
  margin: 1rem .5rem;
  border-radius: 1rem;
  box-shadow: 0 0 5rem black;
  background: black;
}

#output .img.full > img {
  border-radius: inherit;
}

#output header {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid 1px #ffffff10;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

#output header .img {
  margin: 0 auto;
}

#output .author {
  display: block;
  font-size: 1.1em;
  margin-bottom: 1rem;
}

#history {
  width: 100%;
}

#history p {
  max-width: 60%;
  margin: 1rem .5rem;
  padding: 1rem;
  background: white;
  border-radius: 1rem;
  color: dodgerblue;
}

#history p.typing {
  font-weight: bold;
  background: #ffffff25;
}

#history .past {
  opacity: .5;
}

#history .past p {
  background: dodgerblue;
  color: white;
}

#history .me {
  width: 50%;
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

#history .me p {
  align-self: flex-end;
  background: #ffffff25;
  color: white;
}

#history > div {
  display: flex;
}

#history div.image {
  flex-direction: column;
}

#history .me div.img {
  background: linear-gradient(to top right, dodgerblue, violet);
  border: .1rem solid black;
}

#input > input,
#input > button {
  display: block;
  min-height: 3rem;
  margin-bottom: .5rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
  appearance: none;
  outline: none;
  background: black;
}

#input > input {
  background: #12121210;
  padding: 0 .5rem;
}

#input > button {
  background: dodgerblue;
}

#input > button:hover {
  background-color: white;
  color: dodgerblue;
}

@media (max-width: 900px) {
  #history > div {
    flex-direction: column;
  }

  #history .me {
    width: 75%;
    flex-direction: row-reverse;
  }

  #history p {
    max-width: 75%;
  }
}