#app {
  width: 75vw;
  min-width: 30rem;
  margin: 1rem auto;
  background: #12121240;
  border-radius: 1rem;
  padding: 2rem;
}

#input,
#output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#output .img {
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  box-shadow: 0 0 5rem black;
  background: black;
}

#output .img > img {
  border-radius: inherit;
}

#output p {
  margin: 1rem 0.5rem;
  padding: 1rem;
  background: black;
  border-radius: 1rem;
  color: dodgerblue;
}

#input > input,
#input > button {
  display: block;
  height: 3rem;
  margin: .5rem;
  border: none;
  border-radius: .5rem;
  width: calc(100% - 1rem);
  appearance: none;
  outline: none;
  background: black;
  color: white;
}

#input > input {
  padding: 0 .5rem;
}

#input > button {
  background: dodgerblue;
  transition: background-color .1s linear, color .1s linear;
  font: normal normal 1em "Wrath", sans-serif;
}

#input > button:hover {
  background-color: cyan;
  color: dodgerblue;
}
