.panel {
  background: #12121280;
  border-radius: 1rem;
  padding: 1rem;
}

#root {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

#app,
#nav {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem auto;
  height: calc(100vh - 3rem);
  overflow-x: hidden;
}

#app {
  justify-content: space-between;
}

#nav {
  max-width: 20vw;
}

#overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: #00000075;
  opacity: 0;
  transition: opacity .5s ease;
}

#overlay.show {
  opacity: 1;
}

#overlay > .form {
  max-width: 34rem;
  transition: opacity .5s ease, margin-top .5s ease;
  margin-top: 10vh;
  opacity: 0;
}

#overlay.show > .form {
  margin-top: 0;
  opacity: 1;
}

#create-persona-button {
  background: white;
  color: dodgerblue;
}

#input,
#output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#output {
  flex: 1;
}

#output p {
  width: 60%;
  margin: 1rem .5rem;
  padding: 1rem;
  background: black;
  border-radius: 1rem;
  color: dodgerblue;
}

#input > input,
#input > button {
  display: block;
  min-height: 3rem;
  margin-bottom: .5rem;
  border: none;
  border-radius: .5rem;
  width: calc(100% - 1rem);
  appearance: none;
  outline: none;
  background: black;
  color: white;
}

#input > input {
  background: #12121280;
  padding: 0 .5rem;
}

#input > button {
  background: dodgerblue;
}

#input > button:hover {
  background-color: white;
  color: dodgerblue;
}


@media (max-width: 900px) {
  h1 {
    display: none;
  }

  .form {
    width: 95%;
  }

  .persona-list-item.panel {
    padding: unset;
  }

  #root {
    padding: 0;
    gap: 2px;
  }

  #nav,
  #app {
    margin: 0;
    border-radius: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
  }

  #nav {
    max-width: 5rem;
  }

  #output p {
    width: calc(100% - 1rem);
  }

  #create-persona-button {
    position: relative;
    width: 3rem;
    height: 3rem;
    padding: 0;
  }
}
