body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #333;
  color: white;
}

* {
  box-sizing: border-box;
  font-size: 1em;
}

input[disabled],
button[disabled] {
  opacity: .5;
  font-style: italic;
  cursor: not-allowed;
}

button {
  cursor: pointer;
  background: #ffffff25;
  color: white;
  padding: 1rem;
  appearance: none;
  border-radius: 1rem;
  border: none;
  margin: 1rem 0;
  font-weight: bold;
  transition: background-color .1s linear, color .1s linear;
}

button:hover {
  background-color: white;
  color: dodgerblue;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: .75em;
  margin: 0 0 1rem;
  opacity: .5;
}
